/* ------- VARIABLES -------- */

$primary:  #000000;

@font-face {
    font-family: '';
    src: url(../);
}


/* ------- MAIN INFO -------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 16px;
}


/* ------- TITLES, TEXTS -------- */

.text-bold {
    font-weight: 800;
}

.text-black {
    color: black!important;
}

.text-white {
    color: white!important;
}

.text-grey {
    color: #808080;
}

.p-lg {
    font-size: 1.3rem;
}

.u-thin {
    text-underline-offset: 2px;
    text-decoration-thickness: 0.5px;
}

.line-h-1 {
    line-height: 1.1;
}


/* ------- BACKGROUNDS -------- */

.bg-neat {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-white {
    background-color: white;
}
  
.bg-black {
    background-color: black;
}

.bg-grey {
    background-color: #efefef81;
}

/* -----  BORDERS, SHADOWS AND OTHER  ----- */

.border-black {
    border-color:rgba(0, 0, 0, 0.6) !important;
}


/* ------- NAVBAR -------- */
  
.logo-main {
    width: 100px;
}


/* ------- HEADER -------- */

header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}


/* ------- BUTTONS -------- */

.btn {
    min-width: 150px;
    font-size: 1.3rem;
    letter-spacing: 3px;
    padding: 9px 30px;
}

.btn-outline {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    transition-duration: 0.3s;
    &:hover {
        background-color: #000;
        color: #fff;
        transition-duration: 0.3s;
    }
}

.button-style-none {
    border: none !important;
    background: transparent !important;
}

button:active {
    outline: none !important;
    border: none !important;
}
  
button:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    user-select: none;
}


/* ------- FORMS -------- */

::-webkit-input-placeholder {
    color: black !important;
}

::-moz-placeholder {
    color: black !important;
}

:-ms-input-placeholder {
    color: black !important;
}

::-ms-input-placeholder {
    color: black !important;
}

::placeholder {
    color: black !important;
}
  
:-ms-input-placeholder {
    color: black !important;
}
  
::-ms-input-placeholder {
    color: black !important;
}

/* ------- POSITIONING -------- */

.img-square {
    position: relative;
    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
}

.fit-cover {
    -o-object-fit: cover;
       object-fit: cover;
       overflow: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.anchor {
    padding-top: 100px;
    margin-top: -100px;
}

.my-sec {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mb-sec {
    margin-bottom: 60px;
}

.py-sec {
    padding-top: 60px;
    padding-bottom: 60px;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.w-60 {
    width: 60%;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}


/* ------- ACTIONS -------- */

.hover-dark {
    background-color: transparent;
    &:hover {
        background-color: rgba(0, 0, 0, 0.123);
    }
}

.hover-primary {
    color: #212529;
    &:hover {
        color: $primary;
    }
}

.pointer {
    cursor: pointer;
}

a,
a:hover {
    text-decoration: none;
}


/* ------- QUERIES -------- */

// Small devices
@media (min-width: 576px) {}

// Medium devices
@media (min-width: 768px) {
    .w-md-50 {
        width: 50%;
    }

    html, body {
        font-size: 18px;
    }
}

// Large devices
@media (min-width: 992px) {
    .container {
        max-width: 90% !important;
    }

    .container-fluid {
        width: 95% !important;
    }

    .position-lg-absolute {
        position: absolute;
    }

    .w-lg-50 {
        width: 50%;
    }

    .w-lg-75 {
        width: 75%;
    }

    .w-lg-85 {
        width: 85%;
    }

    .my-sec {
        margin-top: 90px;
        margin-bottom: 90px;
    }

    .mb-sec {
        margin-bottom: 90px;
    }
    
    .py-sec {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    html, body {
        font-size: 21px;
    }
}

// Extra large devices
@media (min-width: 1500px) {
    .container {
        max-width: 85% !important;
    }

    .container-fluid {
        width: 90% !important;
    }

    html, body {
        font-size: 25px;
    }
}