/* ------- MAIN INFO -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  line-height: 1.6;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 1.6;
}

/* ------- TITLES, TEXTS -------- */
.text-regular {
  font-weight: 400;
}

.text-bold {
  font-weight: 800;
}

.text-black {
  color: black !important;
}

.text-white {
  color: white !important;
}

.text-grey {
  color: #808080;
}

.p-lg {
  font-size: 1.4rem;
}

.p-xl {
  font-size: 1.6rem;
}

.display-1 {
  font-weight: 400;
}

.display-6 {
  font-size: calc(1.4rem + 1.9vw);
  line-height: 1.2;
}

.u-thin {
  text-underline-offset: 2px;
  text-decoration-thickness: 0.5px;
}

.line-h-1 {
  line-height: 1.1;
}

small {
  font-size: 0.75rem !important;
}

/* ------- BACKGROUNDS -------- */
.bg-neat {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-grey {
  background-color: rgba(239, 239, 239, 0.5058823529);
}

/* -----  BORDERS, SHADOWS AND OTHER  ----- */
.border-black {
  border-color: rgba(0, 0, 0, 0.6) !important;
}

.border-xs {
  border-width: 0.25px;
}

/* ------- NAVBAR -------- */
.logo-main {
  width: 90px;
}

.logo-footer {
  width: 45px;
  padding: 2px;
}

/* ------- HEADER -------- */
header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* ------- BUTTONS -------- */
.btn {
  min-width: 150px;
  font-size: 1.2rem;
  letter-spacing: 3px;
  padding: 9px 30px;
}

.btn-outline {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  transition-duration: 0.3s;
}
.btn-outline:hover {
  background-color: #000;
  color: #fff;
  transition-duration: 0.3s;
}

.button-style-none {
  border: none !important;
  background: transparent !important;
}

button:active {
  outline: none !important;
  border: none !important;
}

button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ------- POSITIONING -------- */
.fit-cover {
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.my-sec {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mb-sec {
  margin-bottom: 60px;
}

.py-sec {
  padding-top: 60px;
  padding-bottom: 60px;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.w-60 {
  width: 60%;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.sound-icon {
  width: 17px;
}

.black-arrow-sm {
  width: 30px;
}

.black-arrow-lg {
  width: 38px;
}

/* ------- ACTIONS -------- */
.arrow-move {
  -webkit-animation: arrow-movement 1.5s infinite;
  animation: arrow-movement 1.5s infinite;
  margin-top: -40px;
}

@-webkit-keyframes arrow-movement {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
    opacity: 0;
  }
}
@-webkit-keyframes arrow-movement {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
@keyframes arrow-movement {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
.pointer {
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}

/* ------- QUERIES -------- */
@media (min-width: 992px) {
  .container {
    max-width: 85% !important;
  }
  .container-fluid {
    width: 95% !important;
  }
  .w-lg-85 {
    width: 85%;
  }
  .my-sec {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .mb-sec {
    margin-bottom: 90px;
  }
  .py-sec {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  html, body {
    font-size: 19px;
  }
}
@media (min-width: 1500px) {
  .container-fluid {
    width: 90% !important;
  }
  .sound-icon {
    width: 22px;
  }
  .black-arrow-sm {
    width: 38px;
  }
  .black-arrow-lg {
    width: 46px;
  }
  small {
    font-size: 0.8rem !important;
  }
  html, body {
    font-size: 23px;
  }
}/*# sourceMappingURL=style.css.map */